.events {
  padding: 20px 30px 60px;
  background-color: @color-blue-dark;
  border-radius: 10px;
  margin-bottom: 80px;
}
.events__container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.events__img {
  width: 450px;
  height: 800px;
  object-fit: cover;
  background-image: url("./../../img/maite-nature-2.jpg");
  // background-position: 50% 50%;
  @media (max-width: @tablet-width) {
    display: none;
  }
}
.events__img-mobile {
  display: none;
  @media (max-width: @tablet-width) {
    display: block;
    object-fit: cover;
    background-image: url("./../../img/events-mobile.jpg");
    width: 350px;
    height: 284px;
    border-radius: 10px;
  }
}
.events__daily {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: max-content;
  gap: 20px 40px;
  color: @color-white;
  &-day {
    padding: 10px 20px;
    background-color: @color-blue;
    height: 370px;
    @media (max-width: @tablet-width) {
      height: 320px;
    }
  }
  @media (max-width: @tablet-width) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.day {
  display: block;
  padding-left: 20px;
  text-align: center;
}
.day__name h3 {
  color: @color-white;
  border-bottom: 1px solid @color-white;
}
.day__location::before {
  position: relative;
  content: url("../../img/location.svg");
  left: -5px;
  top: 6px;
}
.day__location a {
  text-decoration: underline;
  color: @color-white;
  &:hover {
    text-decoration: none;
  }
}
.day__list--btn {
  margin-top: 40px;
}
