.footer {
  margin: 100px 0px 10px;
  background-color: @color-olive;
  padding: 30px calc(50% - 790px);
  border-radius: 10px;
  font-size: 16px;
  color: @color-white;
  text-align: center;
  & a {
    color: @color-white;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
